<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body style="height: 100%">
<div>岗位管理</div>


<!-- jQuery -->
<script th:src="@{static/plugins/jquery/jquery.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{static/plugins/jquery-ui/jquery-ui.js}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<div th:include=""></div>
</body>
<style>
    ::-webkit-scrollbar {
        width: 0px;
        height: 5px;
    }.skin-blue .main-header .navbar.skin-blue .main-header .navbar

</style>
</html>
