<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" th:href="@{favicon.ico}">
    <link th:href="@{static/css/layui/layui.css}" rel="stylesheet">
    <link th:href="@{static/css/module/admin.css}" rel="stylesheet">
</head>

<body class="layui-layout-body">

<div class="layui-layout layui-layout-admin">
    <div th:include="/common/_header.html"></div>
    <div th:include="/common/_sidebar.html"></div>
    <div th:include="/common/_body.html"></div>
    <div th:include="/common/_footer.html"></div>
    <div th:include="/common/loading.html"></div>
</div>

<!-- 加载动画，移除位置在common.js中 -->
<script type="text/javascript">
    var Feng = {
        ctxPath: "",
        version: ''
    };
</script>
<script th:src="@{static/js/layui/layui.js}"></script>
<script th:src="@{static/js/common/common.js}"></script>
<script>
    /*layui.use(['layer', 'element', 'admin', 'index', 'ax'], function () {
        // var $ = layui.jquery;
        // var layer = layui.layer;
        // var admin = layui.admin;
        // var index = layui.index;
        // var $ax = layui.ax;
        //
        // // 默认加载主页
        // index.loadHome({
        //     menuPath: $("#firstPageAction").attr('lay-href'),
        //     menuName: '<i class="layui-icon layui-icon-home"></i>'
        // });

        // 修改密码点击事件
        /!*$('#setPsw').click(function () {
            admin.open({
                id: 'pswForm',
                type: 2,
                title: '修改密码',
                shade: 0,
                content: '${ctxPath}/system/user_chpwd'
            });
        });*!/

        // 退出登录点击事件
        /!*$('#btnLogout').click(function () {
            var ajax = new $ax(Feng.ctxPath + "/logout", function (data) {
                Feng.success("退出成功!");
                window.location.href = Feng.ctxPath + "/";
            }, function (data) {
                layer.msg("退出失败！" + data.responseJSON.message, {icon: 5, anim: 6});
            });
            ajax.start();
        });*!/
    });*/
</script>
</body>

</html>