<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<h2>标准登录页面</h2>
<h3>表单登录</h3>
<div>
    <table>
        <tr>
            <td>用户名：</td>
            <td><input type="text" id="username" name="username"></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" id="password" name="password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="login-bt" onclick="login()">登录</button>
            </td>
        </tr>
    </table>
</div>
<script th:src="@{static/js/jquery.1.12.4.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var context = /*[[@{/}]]*/;
    /*]]>*/
</script>
<script type="text/javascript">
    function login() {
        $.ajax({
            url: 'login',
            type: 'POST',
            data: {
                username: $('#username').val(),
                password: $('#password').val()
            },
            success: function (res) {
                console.log(res);
                if (res.code === 200){
                    location.href = 'http://' + location.host + context;
                } else {
                    alert(res.message);
                }

            }
        })
    }
</script>
</body>
</html>